
body {
background-color: lightgray;
}

h1 {
	font-size: 2em;
	color: tomato;
}
div {
	border: 1px solid gray;
	border-radius: 2px;
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 20px;
	background-color:lightblue;
}
p {
	display:inline-block;
	transition: 1s ease;
	border:1px solid lightblue;
	/* transform: rotate(20deg); */

}
#olList {
	/* transform: rotate(20deg); */
}

.nisse {
	height:150px;
	width:150px;
}
