body {

}

/* * {
	border-radius: 50% !important;
} */
/* *:hover { transform: rotate(365deg); } */
h1 {
  font-size: 2em;
  color: tomato;
}

@keyframes blink {
  50% {
    border-color: #ff0000;
  }

  25% {
    border-color: #f0ff00;
  }
}

/* div {
	border: 10px solid gray;
	background-color:lightblue;
} */
p {
  /* display:inline-block; */
  /* transition: 10s ease; */
  border: 1px solid lightblue;
}

#olList {
  /* transform: rotate(20deg); */
}

.nisse {
  height: 150px;
  width: 150px;
  /* transition:1s ease; */
  padding: 20px;
}

.on {
  height: 100px;
  width: 100px;
  /* transition:1s ease; */
  padding: 20px;
  border-radius: 50% 50% 100% 17%;
  background-color: tomato;
  font-size: 20px;
  color: lightblue;
  /* animation: hej 5s linear 2s infinite alternate; */
}


.off {
  height: 200px;
  width: 200px;
  /* transition:1s ease; */
  padding: 30px;
  /* animation: hej 5s linear 2s infinite alternate; */
  border-radius: 50%;
}

.toggleDiv {
  position: relative;
  height: 20em;
}

.on, .off {
  position: absolute;
  right: 0px;
}

.till-pepparkakor:last-child {
  font-size: 1rem;
  color: black;
}

#myButton {
  background-color: MistyRose;
  padding: 1em;
  font-size: 2em;
  color: Fuchsia;
}

#mouseEvents {
  background-color: lightblue;
  width: 300px;
  height: 200px;
  padding: 0.5em;
}

input {
  font-size: 1em;
  /* border-width: 14px; */
  border-radius: 10px;
  /* transition:0.1s ease; */
}

input:hover {
  /* background-color:olive; */
  padding: 5px;
  /* transform: rotate(2deg); */
}

select {
  border-radius: 100%;
  /* opacity: 0.5; */
  /* transform: rotate(180deg); */
  font-size: 1.5em;
}

select:hover {
  padding: 10px;
  /* transform: rotate(3deg); */
}

#validation {
  color: red;
  font-weight: bold;
}

#clickButton {}

/*- -100 sekunder? -*/
/*
@keyframes orimligt {
    from { transform : translateX(100%); }
    17%  { transform : translateX(-10%); }
    20%  { transform : translateX(-20%); background-color:#CC231E

;}
    37%  { transform : translateX(-30%); }
    40%  { transform : translateX(-40%);padding:100px; }
    57%  { transform : translateX(-50%);font-size:20px; }
    60%  { transform : translateX(-60%); }
    77%  { transform : translateX(-70%); }
    80%  { transform : translateX(-80%); }
    97%  { transform : translateX(-90%); }
    to   { transform : translateX(-100%); }
} */
/* https://codepen.io/adamlindqvist/pen/EaPeJg  */
.pepparkaksdiv {
  background-color: #CC231E;
}

.till-pepparkakor {
  display: none;
}

.tab-header {
  border: 1px solid gray;
}

.tab-header>* {
  display: inline-block;
  border: 1px solid lightgray;
  padding: 0.2em 1em;
}

.tab-header>*:hover {
  background-color: #FADBD8;
}

.tab-content {
  border: 1px solid lightgray;
  height: 100px;
  position: relative;
  background-color: #FFFFCC;
}
.tab-content > * {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.tab-content > *:first-child {
	display: block;
}

.tab-header, .tab-content {
  border-radius: 0;
  width: 300px;
}

/*  */
